[Unit]
Description=Qwertycoin Full Node
After=network-online.target

[Service]
User=qwertycoin
Group=qwertycoin
WorkingDirectory=~
StateDirectory=qwertycoin
LogsDirectory=qwertycoin

Type=simple
ExecStart=/usr/bin/qwertycoind --config-file /etc/qwertycoind.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
